@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --Veryblue: hsl(220, 13%, 13%);
  --Darkgrayishblue: hsl(219, 9%, 45%);
  --Grayishblue: hsl(220, 14%, 75%);
  --Lightgrayishblue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  overflow-x: hidden;
  margin-inline: 12%;
}
h3 {
  font-size: 1rem;
}
p {
  color: var(--Grayishblue);
  font-size: 16px;
  font-weight: 400;
}
img,
svg {
  cursor: pointer;
}
/* Navigation */
.show {
  display: flex !important;
}

.attribution {
  margin-top: 2.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 900px) {
  body {
    margin-inline: 1rem;
  }
}
